extends ../layout/index 
block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Nam suscipit sit amet felis id varius. Nulla at placerat magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat ultrices velit sit amet aliquet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris lobortis lorem rutrum quam finibus ultricies.
                p
                felis quis condimentum vehicula, odio magna blandit lectus, sed tincidunt massa augue nec metus. Nullam auctor leo vel tristique egestas. Mauris porttitor enim id est scelerisque, nec maximus purus rhoncus. Morbi aliquam mattis turpis pretium convallis. Fusce ultricies hendrerit orci nec finibus.
                p
                In imperdiet consectetur massa semper accumsan. Aliquam interdum lorem ac nibh fermentum finibus. Suspendisse luctus, nisi a luctus egestas, libero sapien sagittis ipsum, nec egestas quam ante laoreet libero. Praesent vehicula neque non augue pretium, in bibendum lectus maximus.
    .listado-iconos
        .container-met-5.py-5.text-center   
            .row
                .col-md-4   
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                .col-md-4   
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                .col-md-4   
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.